@import "styles";


.nav-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100px;
    height: $navheight;
    border-left: 3px solid $delft-blue;
    border-bottom: 3px solid $delft-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-btn {
        z-index: 999;
        display: block;
        position: relative;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        cursor: pointer;

        span {
            transition: all 0.2s ease;
            position: absolute;
            background-color: $delft-blue;
            height: 3px;
        }

        span:nth-child(1) {
            top: calc(50% - 10px);
            right: 33%;
            width: 24px;
        }

        span:nth-child(2) {
            top: calc(50% + 10px);
            right: 33%;
            width: 34px;
        }

        span:nth-child(3) {
            top: calc(50%);
            right: 33%;
            width: 34px;
        }

        &.is-active {
            span:nth-child(1) {
                width: 30px;
                transform: rotate(45deg);
                background-color: $delft-blue;
                transform: translate(0, 5px) rotate(45deg);
            }

            span:nth-child(2) {
                width: 30px;
                transform: translate(0 -4.5px) rotate(-45deg);
                background-color: $delft-blue;
            }

            span:nth-child(3) {
                opacity: 0;
            }
        }
    }
}

.contact-button {
    position: absolute;
    right: 0;
    top: $navheight;
    min-height: calc(100vh - $navheight);
    border-left: 3px solid $giant-orange;
    min-width: 100px;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include below($widescreen){
        display: none;
    }

    span {
        display: block;
        writing-mode: vertical-rl;
        color: $giant-orange;
        font-size: 3.6rem;
        letter-spacing: 0.02rem;
        text-transform: uppercase;
        @include heading-h4;
    }

    &:hover {
        background-color: $giant-orange;
        cursor: pointer;
        
        span {
            color: $floral-white;
        }
    }
}

// .form-slider {
//     z-index: 10000;
// }