@import 'styles';

.navigation-desktop {
    border-bottom: 2px solid $chili-red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include below($desktop){
        display: none;
    }
}

.nav-list-wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: flex-start;
    // justify-content: space-between;
}

.nav-link-wrapper {
    width: fit-content;
    margin-right: 0.4rem;
}

.nav-link {
    color: $chili-red;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    padding: 0.2rem;
}