@import 'styles';

body.is-clipped-overflow {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.navbar {

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    background-color: $delft-blue;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 90px;
    // scroll transition desktop devices
    transition: top 0.3s cubic-bezier(0.82, 0.14, 0.23, 0.885);

    @include below($tablet){
        // scroll transition mobile devices
        transition: top 0.5s cubic-bezier(0.82, 0.14, 0.23, 0.885);
    }

    .navigation-desktop,
    .navigation-mobile {
        width: 100%;
        display: flex;
        
        .nav-list-wrapper {
            list-style: none;
        }
    }

    .navigation-desktop {
        border-bottom: 3px solid $chili-red;
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;

        @include below($widescreen){
            display: none;
        }

        .nav-logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-list-wrapper {
            list-style: none;
            padding: 0  0 0;
            display: flex;
            align-items: center;
            border: solid 1px lime;
            width: 100%;

            @include above($fullhd){
                padding-left: 100px;
            }

            @include between($widescreen, $fullhd){
                padding-left: 45px;
            }

            // @include between($desktop, $widescreen){
            //     padding-left: 20px;
            // }

            // @include between($tablet, $desktop){
            //     padding-left: 50px;
            // }

            // @include below($tablet){
            //     padding-left: 20px;
            // }

            .nav-link-wrapper {
                width: fit-content;
                margin-right: 0.4rem;

                .nav-link {
                    color: $chili-red;
                    font-size: 1.2rem;
                    letter-spacing: 0.05rem;
                    padding: 0.2rem;
                }
            }
        }

        .right-placeholder {
            min-width: 100px;
            border-left: 3px solid $chili-red;
        }
    }

    .navigation-mobile {
        border: solid 1px fuchsia;
        @include above($widescreen){
            display: none;
        }

        @include between($desktop, $widescreen){
                padding-left: 20px;
            }

        @include between($tablet, $desktop){
            padding-left: 50px;
        }

        @include below($tablet){
            padding-left: 20px;
        }


    }

    .navbar-right-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        .navbar-btn {
            z-index: 999;
            display: block;
            position: relative;
            background-color: transparent;
            border: none;
            width: 34px;
            height: 34px;
            cursor: pointer;

            span {
                transition: all 0.2s ease;
                position: absolute;
                background-color: $chili-red;
                height: 2px;
                width: 34px;
            }

            span:nth-child(1) {
                top: calc(50% - 4px);
                left: 0;
            }

            span:nth-child(2) {
                top: calc(50% + 4px);
                left: 0;
            }

            .is-active span:nth-child(1) {
                width: 30px;
                transform: rotate(45deg);
                background-color: $chili-red;
                transform: translate(0, 5px) rotate(45deg);
            }

            .is-active span:nth-child(2) {
                width: 30px;
                transform: translate(0 -4.5px) rotate(-45deg);
                background-color: $chili-red;
            }
        }
    }
}
