@import 'styles';

body.is-clipped-overflow {
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.nav-menu {
    display: none;
    background-color: $giant-orange;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: $sidebarwidth;
    height: 100vh;
    // scroll transition desktop devices
    transition: top 0.3s cubic-bezier(0.82, 0.14, 0.23, 0.885);

    @include below($tablet){
        // scroll transition mobile devices
        transition: top 0.5s cubic-bezier(0.82, 0.14, 0.23, 0.885);
    }

    .navigation-desktop,
    .navigation-mobile {
        width: 100%;
        display: flex;
        
        .nav-list-wrapper {
            list-style: none;
        }
    }

    .navigation-desktop {
        border-bottom: 3px solid $delft-blue;
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;

        @include below($widescreen){
            display: none;
        }

        .nav-logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-list-wrapper {
            list-style: none;
            padding: 0  0 0;
            display: flex;
            align-items: center;
            border: solid 1px lime;
            width: 100%;

            @include above($fullhd){
                padding-left: 100px;
            }

            @include between($widescreen, $fullhd){
                padding-left: 45px;
            }

            // @include between($desktop, $widescreen){
            //     padding-left: 20px;
            // }

            // @include between($tablet, $desktop){
            //     padding-left: 50px;
            // }

            // @include below($tablet){
            //     padding-left: 20px;
            // }

            .nav-link-wrapper {
                width: fit-content;
                margin-right: 0.4rem;

                .nav-link {
                    color: $giant-orange;
                    font-size: 1.2rem;
                    letter-spacing: 0.07rem;
                    padding: 0.2rem;
                }
            }
        }
    }

    .navigation-mobile {
        border: solid 1px fuchsia;
        @include above($widescreen){
            display: none;
        }

        @include between($desktop, $widescreen){
                padding-left: 20px;
            }

        @include between($tablet, $desktop){
            padding-left: 50px;
        }

        @include below($tablet){
            padding-left: 20px;
        }
    }
}
