@import 'styles';

.nav-menu {
    padding: 0 40px;
    width: 100%;
    margin-top: -2.5rem;

    .nav-list-wrapper {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        // width: 100%;

        .nav-link-wrapper {
            width: 100%;
            border-bottom: 1px $floral-white solid;

            .nav-link {
                color: $floral-white;
                font-size: 2.4rem;
                letter-spacing: 0.07rem;
                padding: 1rem;
                display: block;
            }
        }
    }
}
