@import "styles";

.sidebar-button {
    position: absolute;
    right: 0;
    top: 90px;
    min-height: calc(100vh - 90px);
    border-left: 3px solid $bright-red-orange;
    min-width: 100px;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include below($widescreen){
        display: none;
    }

    span {
        display: block;
        writing-mode: vertical-rl;
        color: $bright-red-orange;
        font-size: 1.6rem;
        text-transform: uppercase;
        @include heading-h4;
    }

    &:hover {
        background-color: $bright-red-orange;
        cursor: pointer;
        
        span {
            color: $floral-white;
        }
    }
}

// .form-slider {
//     z-index: 10000;
// }