@import "styles";

.form-drawer-container {
    min-height: calc(100vh - 67px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include above($fullhd){
        padding: 0 100px;
    }

    @include between($widescreen, $fullhd){
        padding: 0 45px;
    }

    @include between($desktop, $widescreen){
        padding: 0 20px;
    }

    @include below($desktop){
        align-items: flex-start;
    }

    @include between($tablet, $desktop){
        padding: 50px;
    }

    @include below($tablet){
        padding: 50px 20px;
    }

    .contact-header {
        color: $robin-egg;
        font-size: 3.6rem;
        margin: 0 0 10px 0;
        @include heading-h2;

        @include below($desktop){
            margin-top: 40px;
        }
    }

    form {
        display: flex; 
        justify-content: space-between;
        margin-right: 100px;

        @include below($widescreen){
            margin: 0;
        }

        @include below($desktop){
            flex-direction: column;
            margin-right: 0;
        }

        .form-left,
        .form-right {
            display: flex;
            flex-direction: column;

            @include above($fullhd){
                width: 48%;
            }

            @include between($widescreen, $fullhd){            
                width: 48%;
            }

            @include between($desktop, $widescreen){            
                width: 49%;
            }
        
            @include below($desktop){
                width: 100%;
            }

            .contact-info,
            .event-info, 
            .location-wrapper {
                label {
                    color: $robin-egg;
                    @include subheading-metal;
                }

                .name-inputs {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    input {
                        width: 49%;

                        &:first-of-type {
                            margin-right: 10px;
                        }
                    }
                }

                input:not([type=submit]),
                select,
                textarea {
                    width: 100%;
                    background:transparent;
                    color: $delft-blue;
                    border: solid 1px $delft-blue;
                    padding: 1rem;
                    margin-top: 10px;
                    @include body;
                    border-radius: 4px;

                    &:focus {
                        outline: none !important;
                        border-color: $giant-orange;
                        box-shadow: 0 0 2px $giant-orange;
                        border-radius: 3px;
                    }
                    
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $delft-blue;
                        opacity: 1; /* Firefox */
                    }

                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: $delft-blue;
                    }

                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: $delft-blue;
                    }
                }

                textarea {
                    min-height: 250px;
                }
            }
        }

        .form-left {
            .contact-paragraph {
                color: $delft-blue;
                margin: 0 0 30px 0;
                @include body;

                @include between($desktop, $widescreen){
                    padding-right: 20px;
                }

                @include below($desktop){
                    margin: 0 0 40px 0;
                }
            }

            .location-wrapper {
                margin: 0 0 30px 0;

                @include below($desktop){
                    margin: 0 0 40px 0;
                }

                .date-wrapper {
                    @include between($tablet, $desktop){
                        margin-bottom: 40px;
                    }

                    @include below($tablet){
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .form-right {
            .submit-wrapper {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                
                input[type=submit] {
                    width: fit-content;
                    background-color: $robin-egg;
                    color: $delft-blue;
                    border-radius: 4px;
                    padding: 0.8rem 2.4rem; 
                    border: none;
                    text-transform: capitalize;
                    @include subheading-metal;
                    border-right: solid 1px $delft-blue;
                    border-bottom: solid 1px $delft-blue;

                    &:hover {
                        color: $floral-white;
                        background-color: $giant-orange;
                        cursor: pointer;
                        // transform: scale(1.05);
                        transition: all 200ms cubic-bezier(0.880, 0.220, 0.200, 1.040);
                    }
                }
            }
        }
    }
}
