// Colors
$floral-white: #FBF7EF;
$parchment: #F7EFDE;
$delft-blue: #213559;
$robin-egg: #49CBD4;
$earth-yellow: #E2A850;
$chili-red: #E93B20;
$giant-orange: #FF6333;

// Breakpoints
$mobile: 400px;
$tablet: 577px;
$desktop: 869px;
$widescreen: 1075px;
$fullhd: 1345px;