@import "styles";

html,
body {
  padding: 0;
  margin: 0;
  background-color: $floral-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* base body styles */
.container {
    max-width: 1650px;
    margin: 0 auto;
}

.body-wrapper {
  max-height: 100vh;
  overflow: scroll;
  width: calc(100vw - $sidebarwidth);

  @include below($widescreen){
    margin-top: $navheight;
    width: 100%;
    overflow: auto;
    max-height: 100%;
  }
}